<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>{% block title %}Fpm Admin{% endblock %}</title>
    <meta charset="UTF-8"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/lib/materialize-css/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block head %} {% endblock %}
    <style>
      .block{display: block; width: 100%;}
      .margin-bottom-2{margin-bottom: 2em;}
    </style>
    {% block style %} {% endblock %}
  </head>
  <body class="{% block bodyclass %} blue-grey lighten-5 {% endblock %}">
    {% block body %} {% endblock %}
  </body>
  <script src="/md5.min.js"></script>
  <script src="/lodash-4.17.4.min.js"></script>
  <script src="/angular-1.6.4.min.js"></script>
  <script src="/ae.js"></script>
  <script src="/jquery-3.2.1.min.js"></script>
  <script src="/lib/materialize-css/js/materialize.min.js"></script>
  <script src="/js/app.js"></script>
  {% block script %} {% endblock %}`
  {% block js %} {% endblock %}
</html>
