<!DOCTYPE html>
<html>
  <head>
    <title>Fpm Admin</title>
    <meta charset="UTF-8"/>
    <link href="//cdn.bootcss.com/flat-ui/2.3.0/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <style>
      #container {
        width:480px;
        padding: 10px;
        font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      h1>span{
        font-size: 14px;
      }
      @media screen and (max-device-width:400px) {
        #container {
          width:380px;
          padding: 10px;
          font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
        }
        h1{font-size:2.6em;}
      }
      a {
        color: #00B7FF;
      }
    </style>
  </head>
  <body>
    <div id="container" class="center-block">
      <h3>尚未集成admin插件</h3>
    </div>
  </body>
</html>
