{% extends "views/admin/base-content.html" %}
{% block pagetitle %} 仪表板 {% endblock %}
{% block main %}
<div class="container" ng-controller="MainCtrl">
    <div class="row">
      <div class="col s6 m3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <p><i class="fa fa-user-cicle"></i> New User +2</p>
          </div>
        </div>
      </div>
      <div class="col s6 m3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <p><i class="fa fa-user-cicle"></i> New User +2</p>
          </div>
        </div>
      </div>
      <div class="col s6 m3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <p><i class="fa fa-user-cicle"></i> New User +2</p>
          </div>
        </div>
      </div>
      <div class="col s6 m3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <p><i class="fa fa-user-cicle"></i> New User +2</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Targets */ -->
    <div class=" ">
      <div class="row">
        <!-- /* API TESTER -->
        <div class="col s12 m6 container">
          <div class="card gray light-1">
            <div class="card-content">
              <span class="card-title">接口测试</span>
              <div class="">
                <div class="input-field">
                  <input id="email" type="text" class="validate" ng-model="api.method" />
                  <label for="email">接口名</label>
                </div>
                <div class="input-field">
                  <textarea id="textarea1" class="materialize-textarea" ng-model="api.args"></textarea>
                  <label for="textarea1">参数</label>
                </div>
                <button 
                  ng-click="invoke($event)"
                  class="btn waves-effect waves-light light-blue darken-3"name="action">提交</button>
                <button 
                  ng-click="reset($event)"
                  class="btn waves-effect waves-light grey"name="">重置</button> 
              </div>
            </div>
          </div>
        </div>
        <!-- API TESTER /* -->
        <!-- /* OUTPUT -->
        <div class="col s12 m6 container">
          <div class="card gray light-1">
            <div class="card-content">
              <span class="card-title">输出结果</span>
              <pre ng-bind="api.result"></pre>
            </div>
          </div>
        </div>
        <!-- OUTPUT /*-->
      </div>
      <!-- */ -->

      <!-- /* Commander -->
      <div class="row">
        <div class="col s12 m12 container">
          <div class="card gray light-1">
            <div class="card-content">
              <span class="card-title">终端控制台</span>
              <div class="input-field">
                <textarea class="materialize-textarea" ng-model="command.command"></textarea>
                <label>命令: yfci build , pm2 show, free</label>
              </div>
              <button 
                ng-click="doCommand($event)"
                class="btn waves-effect waves-light light-blue darken-3">执行</button>
            </div>
            <div class="card-content">
              <span class="card-title">输出结果</span>
              <pre ng-bind="command.result"></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  
</script>
{% endblock %}
