lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
results

npm-debug.log
node_modules
lib
pages/*
.idea/*
cache/*.json
public/lib/*
uploads/*.zip
uploads/*.json
uploads/*
log/*

key.js
.DS_Store
config.json