a.active{
  background-color: rgba(0,0,0,0.1) !important;
}
a.brand{
  font-size: 1.8em; padding:0 1em;
}
th{
  border-radius:0 !important;
}
.container{
  width: 96%;
}
header, main{
  padding-left: 300px;
}
.side-nav.fixed{
    transform: translateX(0%);
  }
pre{
  font-family: inherit;
  padding: 8px;
  margin: 0 0 15px;
  font-size: 13px;
  line-height: 1.72222;
  color: inherit;
  white-space: pre;
  background-color: #fff;
  border: 2px solid #e7e9ec;
  border-radius: 6px;
}
@media only screen and (max-width: 992px){
  header, main{
    padding-left: 0px;
  }
  .side-nav.fixed{
    transform: translateX(-100%);
  }
}
.logo-wrapper a{
  font-size: 1.4em;
  width: 240px;
  display: block;
}
#logo-container {
  margin-bottom: 16px;
  height: 60px;
  line-height: 60px;
  font-size: 2em;
  text-align: center;
}

.side-nav li.nav-title {
  padding: 0px 16px;
  font-size: 13px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}
.collapsible-header i.right{
  font-size: 0.8em;
  font-weight: normal;
}
.collapsible-header i, .side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
    margin: 0 15px 0 0;
    font-size: 1.2em;
}
.logo-wrapper a:hover{
  background: #1976d2;
}
.collapsible .collapsible-body{
  padding: 0;
}
.padding-1em{
  padding: 1em !important;
}
.padding-3em{
  padding: 3em !important;
}
.margin-top-1em{
  margin-top: 1em !important;
}
.margin-top-3em{
  margin-top: 3em !important;
}
.margin-top-5em{
  margin-top: 5em !important;
}
.block{
  display: block;
}
.login-form{
  max-width: 560px;
}
.login-form .block{
  width: 100%;
}
.side-nav .collapsible a, .side-nav .collapsible-header{
  text-indent: 1em;
}
.side-nav > ul{
  margin: 0;
}
.nav-footer{
  position: fixed; bottom: 124px;
  overflow: hidden;
  border-top: 1px solid #ddd;
  width: 100%;
}
.nav-footer ul, .nav-footer li{
  margin: 0;
}
.nav-footer li a{
  margin: 0; font-size: 12px; font-weight: normal;
  padding-left: 1em; padding-right: 1em;
  color: #777;
}
.nav-footer li a:hover{
  background: transparent; 
}

.welcome{
  padding: 1em;
}
.page-title{
  padding: .8em 0;
  margin-bottom: 2em;
}

.page-footer{
  margin-top: 2em;
}
.page-content {
  padding-bottom: 10px;
}
.dropzone{
  min-height: 10em;
}
.images-preview, .images-preview img{
  min-height: 150px;
  height: 150px;
  max-height: 150px;
}

.card-content .divider{
  margin-bottom: 1em;
}
.max-150{
  max-height: 150px; overflow-y: hidden;
}
.min-150{
  min-height: 150px;
}
.max-200{
  max-height: 200px; overflow-y: hidden;
}
.min-200{
  min-height: 200px;
}
.mask{
  position: absolute; background: #333; opacity: 0.6; z-index: 9999;
}
.full-mask{
  width: 100%; height: 100%;
}
.mask .center-align{
  margin: 0 auto;
}
.mask .fa{
  color: #fff;
}
.space-20{
  height: 20px; background: transparent; display: block;
}
td{
  padding-top: 12px; padding-bottom: 12px;
}
.panel{
  background: #fff; padding: 0 0 3em;
}
.panel-header{
  background: #fff;
}
.panel-title{
  height: 60px; font-size: 1.2em; text-indent: .1em; line-height: 60px; font-weight: bold;
}
.panel-tools{
  height: 60px;
  vertical-align: middle;
}
.panel-header>.row{
  margin-bottom: 0;
}
.btn-small{
  height: 28px;
  line-height: 28px;
  padding: 0 1rem;
  margin: 16px 0px;
  font-size: .8rem;
}
.search-bar{
  margin-right: 1em;
}
#search-bar{
  height: 2em;
}