{% extends "views/admin/base-content.html" %}
{% block pagetitle %} 数据库 {% endblock %}
{% block main %}
<div class="container" ng-controller="MysqlCtrl">
  <div class="row">
    <div class="col s12">
      <ul class="collection">
        <li class="collection-item avatar"
          ng-repeat="table in tables">
          <i class="circle fa fa-database"></i>
          <span class="title" ng-bind="table.name"></span>
          <p ng-bind="table.desc"></p>
          <a href="#!" class="secondary-content">管理</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
